<div class="container">
  <!-- Navigation -->
  <%= render partial: "layouts/menu" %>

 <!-- Main -->
<div class ="list-exam">

<% @categories.each do |category| %>
  <div>
    <%= category.name_category %>
  </div>
  <div>
    <% category.tickets.where.not(date_start: nil,date_finish: nil,code_quiz: nil).each do |ticket| %>
      <div class="row-ticket-show">
      <div class="item-ticket">
     
      <%= link_to ticket.name_ticket, new_exam_path, data: { confirm: "Are you sure exam?" } %>
      </div>
      <div>
      <%= link_to  "Exam", new_exam_path , class: "btn btn-danger", data: { confirm: "Are you sure exame?" } %>
      </div>
      </div>
      
      
      
      
      
    <%end%>
    </div>
  <%end%>

</div>  
<!-- Footer -->
<%= render partial: "layouts/footer" %>