<div class="container">
<%= render  "layouts/menu" %>
  <div class="content">
    <div class="user-information">
      <div class="menu-user">
        <%= render  "layouts/user-menu" %>
      </div>
      <div class="show-infor-user">
        <div class="form-login form-custom-edit">
          <%= form_for(Ticket.where.not(date_start: nil,date_finish: nil,code_quiz: nil)) do |f| %>
            <h2>Nhập mã code </h2>
            <div class="form-group">
            <input type="text" id="fname" name="fname">
            <%= f.label :code_quiz %>
              <%= f.number_field :code_quiz,  class: "form-control", placeholder: "Please enter the code " %>
            </div>

            <div class="options">
              <%= link_to  "Back", :back, class: "btn btn-dark" %>
              <%= f.submit "Next", class: "btn btn-primary" %>
            </div>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>