
  <%= render  "layouts/menu" %>
  <div class="content-form">
    <div class="form-login">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div id="msg-errors">
          <% if notice != nil || alert != nil %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <% if notice != nil %>
                <strong>Notice: </strong><span class="notice"><%= notice %></span>
              <% end %>
              <% if alert != nil %>
                <strong>Alert: </strong><span class="alert"><%= alert %></span>
              <% end %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </div>
        <script>
          window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
            });
          }, 5000);
        </script>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email..." %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password..." %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "title-check-box" %>
          </div>
        <% end %>

        <div class="actions">
          <%= link_to  "Sign up", new_user_registration_path, class: "btn btn-danger" %>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <div class="form-group">
          <br>
          <%= link_to  "Forgot your password?", new_user_password_path, class: "btn btn-link" %><br>
          
          <%= link_to  "Comfirm your email account?", new_user_confirmation_path, class: "btn btn-link" %>
        </div>
      <% end %>
    </div>
  </div>

<%= render  "layouts/footer" %>