<h1 style="text-align: center;"><%= Ticket.find(@subticket.ticket_id).name_ticket  %> </h1>
<p>Exam paper code: <%= @subticket.subticket_code %></p>
<br>
<br>
<% @subticket.sub_content.each_with_index do |item, index| %> 
  <div class="form-group">
    <div class="answer-row">
      <div class="option-value-ans">
        <label>Question <%= index + 1 %>: 
          <%= Question.find(item[0]).question %>
        </label>
      </div>
    </div>
  </div>
  <br>
  <% item[1].each_with_index do |ans, index| %>
    <div class="form-group"> 
      <%
        code_a = ""
        code_a = "A" if index == 0
        code_a = "B" if index == 1
        code_a = "C" if index == 2
        code_a = "D" if index == 3

      %>
      <%= code_a %> <%= Answer.find(ans).option_value %>
    </div>
  <% end %>  
  <br>
<%  end %>