<div class="container">
<%= render  "layouts/menu" %>
  <div class="content">
    <div class="user-information">
      <div class="menu-user">
        <%= render  "layouts/user-menu" %>
      </div>
      <div class="show-infor-user">

        <div class="form-group">
          <%= link_to  "Back", :back, class: "btn btn-dark" %>
        </div>
        <div class="show-infor-ticket">
            <h3>
              <%= Ticket.find(@subtickets.first.ticket_id).name_ticket if @subtickets.first != nil %>
            </h3>
          
          <table class="table-show">
            <thead>
              <tr>
                <th>Subticket code</th>
                <th>Deleted</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "list_subticket", collection: @subtickets, as: "subticket"  %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>