<div class="container">
<%= render  "layouts/menu" %>
  <div class="content">
    <div class="user-information">
      <div class="menu-user">
        <%= render  "layouts/user-menu" %>
      </div>
      <div class="show-infor-user">
        <div class="form-login form-custom-edit">
          <%= form_for(@subticket) do |f| %>
            <h2>New subticket</h2>
            <%= f.text_field :ticket_id, hidden: true %>
            <%= f.text_field :user_id, hidden: true %>
            <div class="form-group">
              <%= f.label :number_of_subticket %>
              <label><i>(Max: 10 sub ticket)</i></label>
              <%= f.number_field :subticket_code, max: 10, min: 0,  class: "form-control", placeholder: "Enter the number of subticket you want to create" %>
            </div>

            <div class="options">
              <%= link_to  "Back", :back, class: "btn btn-dark" %>
              <%= f.submit "Create subticket", class: "btn btn-primary" %>
            </div>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>