<div class="container">
<%= render  "layouts/menu" %>
  <div class="content">
    <div class="user-information">
      <div class="menu-user">
        <%= render  "layouts/user-menu" %>
      </div>
      <div class="show-infor-user">
        <div class="show-ticket-btn">
          <%= link_to  "<small><i class=\"fa fa-plus\"></i> Ticket</small>".html_safe, new_ticket_path, class: "btn btn-outline-primary" %>
          <br><br>
          <%= link_to  "Back", :back, class: "btn btn-dark" %>
        </div>
        <div class="show-infor-ticket">
        
          <table class="table-show">
            <thead>
              <tr>
                <th>Name</th>
                <th>Time quiz</th>
                <th>Start competition</th>
                <th>End competition</th>
                <th>Code</th>
                <th>Deleted</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "list_tickets", collection: @tickets, as: "ticket"  %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>