
<%= render  "layouts/menu" %>
  <div class="content-form">
    <div class=user-information>
      <div class="menu-user">
      <% if current_user.user_type.empty? %>
        <%= render  "layouts/participant_menu" %>
      <% else %>
        <%= render  "layouts/user-menu" %>
      <% end %>
      </div>
      <div class="show-infor-user">
        <div class="show-user-btn">
          <%= link_to  "Edit", edit_user_registration_path, class: "btn btn-outline-primary" %>
          <br /><br><br>
          
          <div class="stripe">
            <% if current_user.user_type.empty? %>
              <p>
                You want to upgrade creator?
              </p>
              <%= form_tag charges_path, id: "form-payment" do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>Please! Click the button upgrade creator.</span>
                  </label>
                </article>
                
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Upgrade to creator!"
                        data-amount=""
                        data-panel-label="Upgrade"
                        data-locale="auto">
                </script>
              <% end %>
            <% end %>
          </div>
          
        </div>
        <div class="show-infor">
          <div class="show-group-infor">
            <% if current_user.image? %>
              <%= image_tag  current_user.image.url(:thumb), width: "100px" %>
            <% else %>
              <%= image_tag  "none-avt.png", width: "100px" %>
            <% end %>
          </div>
          <div class="show-group-infor">
            <label>Name: </label>
            <span><%= @user.name %></span>
          </div>
          <div class="show-group-infor">
            <label>Email: </label>
            <span><%= @user.email %></span>
          </div>
          <div class="show-group-infor">
            <label>Phone: </label>
            <span><%= @user.phone %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render  "layouts/footer" %>