<div class="container">
<%= render  "layouts/menu" %>
  <div class="content">
    <div class="user-information">
      <div class="menu-user">
        <%= render  "layouts/user-menu" %>
      </div>
      <div class="show-infor-user">
        <div class="show-user-btn">
          <%= link_to  "Add ticket", new_ticket_path, class: "btn btn-outline-primary" %>
        </div>
        <div class="show-infor">
          <table class="table-show">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Deleted at</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "list_tickets", collection: @tickets, as: "ticket"  %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>