 <% 
  active = "fail" 
  if history.total_score > 5.0 
  active = "pass"
  end
  ticket = Ticket.find(history.ticket_id)
%>
<div class="group-his-item">
  <div class="row">
    <% if ticket.code_quiz.empty?  %><span>Participant:</span>
    <% else %><span>Exam:</span><% end %>
    <span>Question: <%= ticket.questions.count %></span> |
    <span>Times: <%= ticket.time_quiz %>min</span> 
  </div>
  <a href="">
    <div class="row-history-user <%= active %>">
      <div class="row-item">
        <%= ticket.name_ticket %>
      </div>
      <div class="row-item">
        <span>Score: <%= history.total_score %></span>
      </div>
      <div class="row-item">
        <span>Date example: <%= history.created_at.strftime("%d/%m/%Y") %></span>
      </div>
      <% 
        time = history.time_complete.to_i
        hours = (time % (1000 * 60 * 60 * 24))/(1000 * 60 * 60)
        minutes = (time % (1000 * 60 * 60))/(1000 * 60)
        seconds = (time % (1000 * 60))/1000
      %>
      <div class="row-item">
        <span>Time complete: <%= hours.to_s + ":" + minutes.to_s + ":" + seconds.to_s %></span>
      </div>
    </div>
  </a>
</div>