<div class="ticket-answer-item">
  <%= radio_button_tag :answer, answer.id, false, :data => {:remote => true, :url => url_for( :action => 'update', controller: 'exam', :id => answer.id ), :method => :put}, class: 'check-ticket' %>
  <!--<input class="check-ticket" type="checkbox" name="value-ticket" value="<%= answer.id %>" id="<%= answer.id %>">-->
  <label for="answer_<%= answer.id %>"><%= answer.option_value %></label>
</div>