<div class="form-check-code">
  <h5>
    To start the exam you need to enter the code for this exam
  </h5>    
    <div id="msg-errors">
      <% if notice != nil || alert != nil %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <% if notice != nil %>
            <strong>Notice: </strong><span class="notice"><%= notice %></span>
          <% end %>
          <% if alert != nil %>
            <strong>Alert: </strong><span class="alert"><%= alert %></span>
          <% end %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  <%= form_with url: {controller: "exam", action: "create"}, remote: true do |f| %>

    <%= f.text_field :code, value: @ticket.id, hidden: true %>
    <div class="form-group">
      <%= f.label "Please, Enter your code quiz!" %>
      <%= f.text_field :code_quiz, required: true, autofocus: true, class: "form-control" %>
    </div>
    <div class="actions">
      <%= link_to  :Back, exam_index_path, class: "btn btn-dark"%>
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>