
  <!-- Navigation -->
  <%= render partial: "layouts/menu" %>

 <!-- Main -->
<div class="content-form">
  <div class ="list-exam">
    <div id="msg-errors">
      <% if notice != nil || alert != nil %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <% if notice != nil %>
            <strong>Notice: </strong><span class="notice"><%= notice %></span>
          <% end %>
          <% if alert != nil %>
            <strong>Alert: </strong><span class="alert"><%= alert %></span>
          <% end %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
    <% @categories.each do |category|
        tickets = category.tickets.where.not(date_start: nil,date_finish: nil,code_quiz: nil)
        unless tickets.first.nil?
    %>
      <div class="group-example">
        <h5><%= category.name_category %></h5>
        <% tickets.each do |ticket| %>
          <div class="row-ticket-show">
            <div class="item-ticket">
              <%= link_to "<i class=\"fa fa-hand-point-right\"></i>".html_safe + ticket.name_ticket, exam_check_code_path(code: ticket.id), data: { confirm: "Are you sure exam?" } %>
            </div>
            <div>
              <%= link_to  "Exam", exam_check_code_path(code: ticket.id) , class: "btn btn-danger", data: { confirm: "Are you sure exame?" } %>
            </div>
          </div>
        <% end %>
      </div>
    <%  end  end %>
  </div>
</div>

<!-- Footer -->
<%= render partial: "layouts/footer" %>